header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem 0 3rem;
    height: 13vh;
    width: 100vw;
    transition: all 0.7s ease-out;
    background-color: transparent;
    border-radius: 0 0 1.5rem 1.5rem;
    border: 1px solid #393939;
    &.header-offTop{
    height: 9vh;
    }
    .div-logo-header{
        width: 10%;
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
            color: #fff;
            font-size: 2.4rem;
        }
    }
    nav {
        display: flex;
        ul {
            display: flex;
            align-items: center;
            gap: 4rem;
            .items-list-nav{
                list-style-type: none;
                font-size: 1.8rem;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                place-items: center;
                .links-header-nav{
                    transition: all 0.7s ease-out;
                    text-decoration: none;
                    color: #fff;
                    &#contact-item-navbar{
                        transition: all 0.3s;
                        &:hover{
                            padding: 1rem;
                            border-radius: 1rem;
                            transition: all 0.7s;
                            background-color: $color-primary;
                            color: #000;
                        }
                    }
                }
                .border-bottom-link{
                    width: 100%;
                    height: 0.3rem;
                    background-image: linear-gradient(to right, $color-primary 80%, $color-secondary);
                }
            }
        }
    }
}